.result-table{
	flex-direction: row;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
	.crop-item{
		order: 1;
		margin: 20px;
		img{
			display: inline-block;
			float: left;
			margin-right: 5px;
		}
		.result{
			display: inline-block;
			float: left;
		}
	}
}