<h1>
  {{title}}
</h1>
<div class='container' *ngIf="!filePath">
	<input type="file" 
       [ng-file-select]="options"
       (onUpload)="handleUpload($event)" />
</div>
<img *ngIf="filePath" id="input-image" [src]="filePath" />
<div class="result-table">
	<div class="crop-item" *ngFor="let obj of cropImg">
		<img id="input-image" src="{{obj.img}}">
		<div class="result">
			<div class="result-item" *ngFor="let p of obj.positions; let i = index" [ngStyle]="getResultItemStyle(p)">
				<!-- <div [ngStyle]="getResultItemStyle(p)">{{obj.results[i]}}</div> -->
				<div><input type="text" [(ngModel)]="obj.results[i]"/></div>
			</div>
		</div>
	</div>
</div>
<div class="submit"><button (click)="onSubmit()" [hidden]="!cropImg.length">Submit & Download</button></div>